
html {
  scroll-behavior: smooth;
  background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #000000;
}


main {
  background-color: #272727;
  margin-top: 64px;
  padding: 20px;
  z-index: 1;
}

/* Navegación */

header {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 64px;
  background-color: #16161671;
  color: #fff;
  
  padding: 10px 0;
  margin: 0 auto;

  text-align: center;

  backdrop-filter: blur(7px);
  box-shadow: 0 0 10px rgba(10px, 10px, 10px, 0.2);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul {
  display: flex;
  max-width: fit-content;
  justify-content: center;
  align-self: center;
}

nav > ul > li {
  margin: 0 10px;
}

ul > li > a {
  color: #dddddd;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s;
  text-decoration: none;
  user-select: none;
}

ul > li a:hover {
  background-color: #555;
  border-radius: 15px;
}

nav li a.active {
  background-color: #b8b8b8;
  color: #292828;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Secciones */
section {
  display: flex;
  flex-wrap: row;
  padding: 20px;
  color: #cecece;
  justify-content: space-around;
  /*border: #dddddd 1px solid;*/
  border-radius: 15px;
  filter: drop-shadow(0 0 10px rgb(15, 15, 15));

  height: auto;
  width: 100%;

  /*background-image: linear-gradient(to bottom, #F1F5F9, #F6FCFE);*/
  background-color: #030303;
}

#portada > div {
  width: 80%;
  height: auto;

  
  margin-bottom: 20px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

#portada > #titulo {
  /*border: #dddddd 1px solid;*/

  align-items: center;
  justify-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  color: #ffffff;
}

#portada > #titulo > h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 6em;
  font-style: normal;

  text-align: center;
  margin-top: 0; 
  transition: color 0.3s ease-in-out 0.1s, color 0.3s ease-in-out 0.1s;

  color: rgb(206, 206, 206);
  
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  text-align: center;
}

#portada > #titulo > p {
  display: flex;
  font-size: 2em;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin-top: 3%;

  text-align: center;
  align-self: center;
  justify-self: center;
}

#portada > #titulo > a {
  z-index: 2;
  color: #ffffff;
  background-color: #2c2c2c;
  padding: 10px 20px;
  border-radius: 10px;
}

#portada > #titulo > a:hover{
  z-index: 2;
  color: #000000;
  background-color: #2a28a3;
}

#portada > #relleno {
  z-index: 1;
  box-shadow: none;
  border-radius: 15px;
  backdrop-filter: none;
  background-image: url("/res/media/image/model2.png");
  background-size:cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  opacity: 0.9;
}

#portada > #relleno::before {

  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/res/media/image/model2.png");
  background-size: cover;
  border: #030303;
  background-color: #030303;
  border-radius: 15px;
  background-size: auto 100%;
  background: linear-gradient(to bottom, rgba(155, 155, 155, 0) 50%, rgb(0, 0, 0) 90%);
}



#first {
  margin-top: 4%;
  flex-direction: row;
  display: flex;
  padding: auto;
  color: #cecece;
  border: #dddddd 1px transparent;
  height: auto;
}

.txt {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  z-index: 1;
}

#first > div {
  display: flex;
  position: relative;
  border: #dddddd 1px transparent;
  margin-bottom: 20px;
  width: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#first > .img::before {

  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  border: #030303;
  background-color: #030303;
  border-radius: 15px;
  background-size: auto 100%;
  background: linear-gradient(to bottom, rgba(155, 155, 155, 0) 50%, rgb(0, 0, 0) 90%);
}

#first > div > h2 {
  text-align: center;
  font-size: 2em; 
  font-weight: 700;
  font-style: normal;
  margin-top: 10px;
  color: #ffffff;
  align-self: center;
  justify-self: center;
}

#first > div > p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  font-style: normal;
  margin-top: 10px;
  color: #ffffff;
  align-self: center;
  justify-self: center;
}

#first> .img > img {
  width: auto;
  height: auto;
  border-radius: 15px;
  z-index: 0;
}

#first> .img > img[ src = "/res/media/image/3.1.png"] {
  width: auto;
  height: 90%;
  border-radius: 15px;
  z-index: 0;
}

#first> .img > img[ src = "/res/media/image/3.2.png"] {
  opacity: 0.6;
  max-width: 100%;
}

#first> .img > img[ src = "/res/media/image/3.2.png"]:hover {
  opacity: 1;
}


.img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}








#second {
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  color: #cecece;
  align-self: start;
  justify-content: center;
  border: #dddddd 1px transparent;
  height: 85vh;
}

#video {
  width: auto;
  height: 100%;
  border-radius: 15px;
  opacity: 0.2;
}

#second > .container {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: #dddddd 1px transparent;
  border-radius: 15px;
  width: 40%;
  height: 40%;
  margin-bottom: 20px;
  

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#second > .container > p {
  font-size: 1.5em;
  font-weight: 500;
  font-style: normal;
  margin-top: 10px;
  color: #ffffff;
  align-self: center;
  text-align: center;

}

/*#second > .container > h2 {
  font-size: 2em;
  font-weight: 700;
  font-style: normal;
  margin-top: 10px;
  color: #ffffff;
  align-self: center;
  justify-self: center;
}*/

#contacto {
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  color: #cecece;
  align-self: start;
  justify-content: center;
  border: #dddddd 1px transparent;
  height: fit-content;

}

#contacto > .contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#contacto > form {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: auto;
  margin-bottom: 20px;
}

#contacto > form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

footer {
  background-color: #1f1f1f;
  color: #686868;
  text-align: center;
  font-style: italic;

}

/*Experimentaaaaal!!*/

.shopping-cart, .theme {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
}

.theme{
  right: 80px;
}

.shopping-cart a {
  color: #fdfdfd; /* Cambia el color según tu diseño */
  text-decoration: none;
}




















/* Media queries para estilos responsivos */

@media screen and (min-width: 980px) {
  #portada > div,
  #first > div,
  #second > div,
  #third > div {
    width: 40%;
    height: 80vh;
  }
}
